/* Large Tablets & Small Laptops */


@media(max-width:992px){

.testimonial-card{

    min-width:50%;

}

}


@media (max-width:992px){

.services-grid{

    grid-template-columns:repeat(2,1fr);

}

}

@media (max-width:992px){

.footer-container{

    grid-template-columns:repeat(2,1fr);

}

}



/* Tablets & Large Phones */
@media (max-width:768px){

h1{

    font-size:2.3rem;

}

h2{

    font-size:2rem;

}

}

                            /* Section Padding*/

@media (max-width:768px){

section{

    padding:70px 5%;

}

}

@media(max-width:768px){

.menu-toggle{

    display:block;

    background:none;

    border:none;

    font-size:30px;

    cursor:pointer;

}

.nav-links{

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:white;

    flex-direction:column;

    align-items:center;

    gap:20px;

    padding:30px 0;

    transform:translateY(-20px);

    opacity:0;

    visibility:hidden;

    transition:.5s;

}

.nav-links.active{

    display:flex;
    transform:translateY(0);

    opacity:1;

    visibility:visible;

}

.btn{

    display:none;

}

}


                            /* Hero section */

@media (max-width:768px){

.hero-content{

    grid-template-columns:1fr;

    text-align:center;

}

.hero-text{

    order:1;

}

.hero-image{

    order:2;

}

}


                            /* About section */
@media (max-width:768px){

.about-content{

    grid-template-columns:1fr;

}

}

                            
                            /* Service section */
@media (max-width:768px){

.services-grid{

    grid-template-columns:1fr;

}

}


                            
                            /* Testimonial section */
@media(max-width:768px){

.testimonial-card{

    min-width:100%;

}

}

                            /* Contact section */

@media(max-width:768px){

.contact-container{

    grid-template-columns:1fr;

}

}

                            /* Footer section */

@media(max-width:768px){

.footer-container{

    grid-template-columns:1fr;

    text-align:center;

}

}



/* Small Phones */
@media (max-width: 576px) {

}



