/* Large Tablets & Small Laptops */


@media(max-width:992px){

.testimonial-card{

    min-width:50%;

}

}


@media (max-width:992px){

.services-grid{

    grid-template-columns:repeat(2,1fr);

}

}

@media (max-width:992px){

.footer-container{

    grid-template-columns:repeat(2,1fr);

}

}



/* Tablets & Large Phones */
@media (max-width:768px){

h1{

    font-size:1rem;

}
.section-title h2{

    font-size:1.5rem;

}
.logo span{
    font-size:1.2rem;
    font-weight:700;
    
}
}

                            /* Section Padding*/

@media (max-width:768px){

section{

    padding:70px 5%;

}
#backToTop{
    right:10px;

    bottom:20px;
    width:40px;

    height:40px;
}
}

                             /* NAVBAR */
@media(max-width:768px){

body.menu-open{
    overflow:hidden;
}
.menu-toggle{

    display:block;
    z-index: 1001;
    background:none;

    border:none;

    font-size:30px;

    cursor:pointer;

}

.navbar{
    padding: 10px 8%;
    z-index: 1000;
}


.mobile-menu{

    position:fixed;

    inset:0;

    background:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:40px;

    transform:translateX(100%);

    transition:.4s ease;
    visibility:hidden;
    z-index:999;

}

.mobile-menu.active{

    transform:translateX(0);
    opacity:1;

    visibility:visible;

}

.nav-links{
    display:flex;

    flex-direction:column;

    align-items:flex-start;
    padding: 40px;

    gap:30px;

    width:100%;
}

.nav-links a{

    font-size:1.8rem;

    font-weight:700;
    
    
}
.mobile-contact{

    color:#666;

    text-align:center;

    line-height:1.8;

}
.mobile-buttons{

    width:90%;

    display:flex;

    flex-direction:column;

    gap:20px;

}

.mobile-buttons .btn,
.mobile-buttons .btn-secondary{

    width:100%;

    text-align:center;

    padding:18px;

}

}


                            /* Hero section */

@media (max-width:768px){

    .hero{

        flex-direction:column;

        text-align:center;
        padding:30px 5% 50px;
        gap:20px;
        
    }
    .hero-tag{
        display: none;
    }
    .hero-stats{
        justify-content: center;
        margin: 30px;
    }
    .hero-stats span{

    font-size: 8px;

    }
    .rating{
        margin-top: -2px;
    }
    .hero-stats h3{
        font-size: 1rem;
    }
    .hero-content{

        order:1;

    }

    .hero-image{

        order:2;

    }

    .hero-image img{

        width:100%;

        

    }
    .hero-buttons{
        display:grid;
        gap:20px;
    }

    .hero-content h1{

        font-size:3rem;

        line-height:1.2;
        margin-bottom: 10px;

    }
    .hero-content p{
        font-size: 1rem;
        line-height: 1.3;
    }

}


                            /* About section */
@media(max-width:768px){

    .about-preview{

        flex-direction:column;

        text-align:center;

    }

}

.about-content{
    order: 1;
}
.about-image{
    order: 2;
}
.about-list{
    text-align: left;
}

.about-content .btn{
    display: grid;
}
.about-content h2{
    font-size: 1.5rem;
}
                            
                            /* Service section */
@media (max-width:768px){

.features-grid{

    grid-template-columns:1fr;

}

}


                            
                            /* Testimonial section */
@media(max-width:768px){

.testimonial-card{

    min-width:90%;

}

.testimonial{
    padding: 70px 5%;
}

}

                            /* Contact section */

@media(max-width:768px){

.contact-container{

    grid-template-columns:1fr;

}

}

                            /* Footer section */

@media(max-width:768px){

.footer-container{

    grid-template-columns:1fr;

    text-align:left;

}

.footer-bottom p{
    font-size: 14px;
}

}

@media(max-width:768px){

    .slider-btn{

        display:none;

    }
    .map iframe{
    height: 250px;
    }
     .map{
        width: 100%;
        top: 0;
        display: block;
        padding: 0;
        margin: 0;
        height: 250px;

    }

}

                        /* Hamburger slideshow*/

/*@media(max-width:768px){

.mobile-menu{

    position:fixed;

    inset:0;

    background:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:40px;

    transform:translateX(100%);

    transition:.4s ease;

    z-index:999;

}

.mobile-menu.active{

    transform:translateX(0);

}

}*/

                            /* Small Phones */
@media (max-width: 576px) {
    .map{
        width: 100%;
        top: 0;
        display: block;
        padding: 0;
        margin: 0;
        height: 250px;

}
.map iframe{
    height: 250px;
    }

}